---
title: a9s LogMe for PCF (Beta)
owner: Partners
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }
    .note.warning:before {
        color: #f99;
     }
</style>

<p class="note warning">
<strong>IMPORTANT: </strong>
The a9s LogMe for Pivotal Cloud Foundry (PCF) tile is currently in beta and is intended for evaluation and test purposes only. Do not use this product in a PCF production environment.
</p>

This documentation describes the a9s LogMe for PCF tile.
a9s LogMe for PCF enables on-demand provisioning of VM-based, dedicated LogMe (ELK Stack) servers and clusters.
Developers can create instances of a LogMe server or cluster using Apps Manager or the Cloud Foundry Command Line interface (cf CLI),
and bind these instances to an application to monitor it, or use them to monitor services.
Depending on your service plan, a service instance may be associated with a single, dedicated VM,
or a set of VMs consisting of multiple VMs containing a LogMe cluster.

<%= image_tag("a9s-logme-tile.png") %>

## <a id='overview'></a>Overview

a9s LogMe for PCF enables on-demand provisioning of VM-based, dedicated LogMe servers.
App developers can create instances of a LogMe server using Apps Manager or the Cloud Foundry Command Line Interface tool (cf CLI) and bind these instances to an app to monitor it or use them to monitor services.
The service runs on a single, dedicated VM, the size of which depends on your service plan.

a9s LogMe for PCF automatically provisions service instances and creates a dedicated VM for each instance.
This isolates service instances, preventing the "noisy neighbor" problem that can occur
when multiple service instances run on a shared VM.

Because the service provisions VMs as needed, only existing service instances use infrastructure resources.
These resources are released when service instances are destroyed.
With on-demand provisioning, the number of service instances grows or shrinks based on demand.

### <a></a>Current Features

a9s LogMe for PCF includes the following key features:

| Feature | Description |
|---------|---------|
| **On­-demand service instance provisioning** | a9s LogMe for PCF deploys LogMe instances automatically. Developers can provision a LogMe service, on a single-VM or cluster of VMs, using the single command `cf create-service`. |
| **Service instance isolation** | Each LogMe server runs on a dedicated VM to ensure noisy-neighbor protection and align with enterprise security requirements.<br/><br/>a9s LogMe for PCF uses Cloud Foundry [application security groups (ASGs)](https://docs.pivotal.io/pivotalcf/adminguide/app-sec-groups.html) to prevent network connections from unauthorized apps.
| **Smoke tests** | A post-deployment, smoke-test errand runs basic tests against your installation, ensuring that it is configured properly. |
| **Deployment updater** | An updater errand updates the stemcell and all provisioned a9s LogMe for PCF service instances to their latest version. |

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about a9s LogMe for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile Version</td>
        <td>v0.9.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>August 24, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v0.9.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.7.x, v1.8.x, v1.9.x, and v1.10.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.7.x, v1.8.x, v1.9.x, and v1.10.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>No</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

To install and use a9s LogMe for PCF, you must install the following products and tiles:

* Elastic Runtime, v1.7 or later
* [a9s Consul DNS](https://network.pivotal.io/products/a9s-consul) for PCF, v1.0.0 or later
* [a9s BOSH](https://network.pivotal.io/products/a9s-bosh) for PCF, v1.0.0 or later

For installation instructions, see [Installing and Configuring a9s LogMe for PCF](./installing.html).

## <a id="feedback"></a>Feedback and Support

The anynines team can help you get started and succeed with a9s LogMe for PCF. Technical support, including a service-level agreement, is available with a commercial license.

If your company has specific LogMe administration policies or configuration best practices,
the anynines team is happy to incorporate them. Third-party LogMe support organizations are also welcome to assist.

Contributions are welcome and will be investigated by the anynines team. Please send any bugs, feature requests, or questions to svc.support@anynines.com.

## <a id='license'></a>License

Contact <a href="http://data-services.anynines.com/sales" target="_blank">our sales team</a> to learn more about commercial licenses and support.
